*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main1{
  margin-bottom: 2vw;
  margin-top: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main2{
  padding-left: 10vw;
  padding-right: 10vw;
}

body{
  background-color: rgb(220, 215, 201);
}

.total{
  background-color: rgb(162, 123, 92);
  color: whitesmoke;
}

.nombres{
  background-color: rgb(63, 78, 79);
  color: whitesmoke;
}

.seguircomprando button{
  background-color: rgb(255, 255, 255);
}

@media (max-width: 650px){
  .main2{
  padding-left: 0vw;
  padding-right:0vw;
  }
}
