/* CARD FOR PRODUCTS */
.cardContainer {
    position: relative;
    display: inline-block;
    box-shadow: 1px 6px 9px 1px rgba(99,99,99,0.66);
    -webkit-box-shadow: 1px 6px 9px 1px rgba(99,99,99,0.66);
    -moz-box-shadow: 1px 6px 9px 1px rgba(99,99,99,0.66);
    transition: 0.3s;
}
.cardContainer:hover {
    box-shadow: 6px 9px 9px 1px rgba(99,99,99,0.66);
    -webkit-box-shadow: 6px 9px 9px 1px rgba(99,99,99,0.66);
    -moz-box-shadow: 6px 9px 9px 1px rgba(99,99,99,0.66);
}

/* IMAGE IN THE CARD */
.cardContainer .hoverImg {
    display: none;
    position: absolute;
}
.cardContainer:hover .hoverImg {
    display: inline;
}

/* <a> */
.aCardTitle {
    text-decoration: none;
}