/* @media (min-width: 860px) {
    .productContainer {
    background-color: beige !important;
    }
} */

/* SEPARATOR LINE */
.productContainer {
    border-bottom-color: #f0f0f0;
    border-bottom-style: inset;
}

/* COMMENTS */
.card {
    border: none;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    border-radius: 4px;
}
.user-img{
    margin-top: 4px;
}
